.search-movie {
  padding: 10px 0px 15px 25px;
}

.search-input {
  color: #fff;
  border-radius: 40px;
  padding: 10px;
  background-color: rgb(22, 27, 38);
}

::placeholder {
  color: #fff;
}

.border {
  border: 2px solid rgb(48, 83, 113);
  background-color: rgb(22, 27, 38);
}

.search-btn {
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 0%;
}

.suggestion-list {
  list-style: none;
  overflow-y: scroll;
  position: absolute;
  margin: 0px 3px 15px 25px;
  width: 175px;
  max-height: 200px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0px;
}

.suggestion-item {
  margin: 0px;
  font-size: 13px;
  color: black;
  padding: 5px;
  border-bottom: 1px solid rgb(68,70,81);
}

.suggestion-item:hover{
  background-color: #2693ff;
  cursor: pointer;
}