.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.8);
  z-index: 10;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: row;
  color: lightgrey;
  border-radius: 5px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 405px;
  overflow: scroll;
  min-width: 70%;
  background-color: rgb(54, 53, 53);
  padding: 5px;
  z-index: 20;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin: 0px 10px 0px 10px;
}

.close {
  cursor: pointer;
  font-size: 25px;
}

.movie-poster {
  width: fit-content;
  margin: 5px;
  height: 100%;
}

.cast-members {
  padding: 10px;
}

.cast-member {
  padding: 5px;
}

.main-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.poster-image {
  height: 98%;
  min-width: 250px;
}

.left-side {
  min-width: 250px;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.trailer {
  margin: 5px;
}

.cast-title {
  font-size: 25px;
  text-align: left;
  margin-bottom: 0px;
}

.castmembers {
  margin-top: 5px;
}

.videos {
  margin: 20px 5px 5px 10px;
}

.movie-title {
  font-size: 50px;
  margin: 0px;
}
